<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>[%d] %-5level &lt;%logger{10}:%line&gt; [%thread] - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="${STRIMZI_LOG_LEVEL:-info}">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>